<%= @products.each do |product|%>
	<div class="col-md-3">
		<a href="/products/<%= product.id%>">
		<%= image_tag product.product_img.url(:product_index) ,class:"book"%>
		</a>
	</div>	
	<% end %>
	


